<?xml version="1.0" ?>
<web-app>
	<servlet>
      <servlet-name>hibernate</servlet-name>
      <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
      <init-param>
          <param-name>jersey.config.server.provider.packages</param-name>
          <param-value>com.harish.projA.servlets</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
  </servlet>
	<servlet-mapping>
		<servlet-name>hibernate</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>